In [13]:
import pyodbc
import numpy as np
import pandas as pd

def selectData():
    conn = pyodbc.connect('Driver={SQL Server};'
    'Server=aps-sad.database.windows.net;'
    'Database=Homolog;'
    'UID=sad;'
    'PWD=#Aps2023')

    sql = 'SELECT SUM(Valor) as ValorTotalDia FROM Vendas GROUP BY Data_Venda ORDER BY Data_Venda;'
    data = pd.read_sql(sql, conn)
    nova_entrada = data.to_numpy()[-60:]
    
    conn.close() 
    return nova_entrada

In [12]:
type(selectData()[0][0])

C:\Users\denis\AppData\Local\Temp\ipykernel_16604\3910727963.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, conn)

numpy.float64